@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Inter:wght@200;400&display=swap');

html { background-color: #2C3130; } 

* {font-family: 'Inter', sans-serif;}

.wrapper {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 16px;
}

.main__title { 
    color: white;
    font-family: 'Graduate', cursive;
    font-size: 40px;
    text-align: center;
 }

input {
   border: none;
   outline: none;
   border-radius: 90px;
   padding: 10px 30px;
   margin-bottom: 15px;
}

.log-in-form__button {
   background-color: #2D2AC8;
   color: white;
   margin-top: 30px;
}

.main__log-in-form {
   text-align: center;
   margin-top: 100px;
}